<h1>Task List</h1>
<div class="m-3 w-50 card">
  <ul class="list-group">
    <% @tasks.each do |task| %>
    <li class="list-group-item">
      <%= fa_icon task.completed ? "check-square" : "square" %>
      <%= task.title %>
    </li>
    <% end %> 
  </ul>
</div>

