<h1>Task List</h1>
<div class="w-50 card">
  <ul class="list-group">
    <% @tasks.each do |task| %>
    <li class="list-group-item">
      <%= fa_icon task.completed? ? "check-square" : "square" %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to fa_icon("times", style: "color: red;"), task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
    <% end %> 
  </ul>
</div>
<hr>
<%= link_to fa_icon("plus", text: "Add Task"), tasks_new_path, class: "btn btn-primary"%>
